@import '../../style/variables/variables.scss';

.productInformation{
    text-align: center;
}


.cart-container {
    display: grid;
    grid-template-columns: 200px;
    grid-gap: 40px;
    padding: 20px;
    width: 50%;
    margin: 50px auto 0;
    justify-content: center;
}

.cartImage {
    width: 200px;
    height: 200px;
    background-color: white;

}

.cartItems {
    color: black;
}

.cartProductImg {
    width: 200px;
    margin: auto;
    display: block;
}

.stripe {
    text-align: center;
}

.total {
    color: $black;
    text-align: center;
    font-family: $title;
    font-size: 1.5rem;
}

.decreaseQTY {
    background: url(../../image/buttons/iconfinder_circle-subtract_226588.png)  no-repeat top left;
    background-size: contain;
    height: 25px;
    width: 25px;
    border: none;
    cursor: pointer;
    outline:none;
}

.increaseQTY {
    background: url(../../image/buttons/iconfinder_circle-add_226591.png)  no-repeat top left;
    background-size: contain;
    height: 25px;
    width: 25px;
    border: none;
    cursor: pointer;
    outline:none;
    color: red;
}

.quantityContainer {
    display: flex;
    justify-content: space-evenly;
    
}

p > span {
    color: white;
    font-family: $title;
}

@media(min-width: 768px){
    .cart-container {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        border: 1px solid;
        padding: 35px;
        margin: 80px auto 0;
        border-radius: 25px;
    }
}


@media(min-width: 1044px){
    .cart-container {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        grid-column-gap: 80px;
        border: 1px solid;

    }

    .cartProductImg {
        width: 180px;
    }
    .cartImage {
        width: 180px;
        height: 180px;
        background-color: white;
    
    }

}