
.blogsAndComments {
    height: 60vh;
    width: 60%;
    margin: 0 auto;
    border: 1px solid;
}

.mappedblogs {
    height: 10%;
    border: 1px dotted dodgerblue;
}

.blogs {
    display: flex;
    justify-content: center;
    align-content: center;
}