
.blogsAndComments {
    height: 60vh;
    width: 60%;
    margin: 0 auto;
    border: 1px solid;
}

.mappedblogs {
    height: 20%;
    border: 1px dotted dodgerblue;
}
h2 {
    font-size: 1.2rem;
    font-weight: 700;
}
.blogs {
    display: flex;
    justify-content: center;
    align-content: center;
}