@import '../../style/variables/variables.scss';
//Media Ready

.productImageContainer {
    height: 240px;
    width: 240px;
}

.productImg {
display: block;
margin: auto;
width: 100%;

}

.productInfo {
    padding: 10px;
    height:60px;
    color: $black;
    display: flex;
    justify-content: space-between;
}

.product {
    font-family: $title;
    color: $red;
}

.price {
    color: $black;
}

.cartBtn {
    background: url(../../image/buttons/iconfinder_iconoteka_shopping_cart_add_b_s_3507741.png)  no-repeat top left;
    background-size: contain;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    outline:none;
}

@media (min-width: 768px){
    .productImageContainer {
        height: 280px;
        width: 280px;
        background-color: white;
    }
}

