@import '../../style/variables/variables.scss';
//Media Ready

.productImageContainer {
    height: 240px;
    width: 240px;
    border-radius: 3px;
}

.productImg {
display: block;
margin: auto;
width: 100%;
border-radius: 3px;

}

.productInfo {
    padding: 10px;
    height:60px;
    color: $black;
    display: flex;
    justify-content: space-between;
}

.product {
    font-family: $text;
    color: $red;
    font-weight: 700;
    font-size: 1.1rem;
}

.price {
    color: $black;
}

.cartBtn {
    background: url(../../image/buttons/add_shopping_cart_Black.svg)  no-repeat top left;
    background-size: contain;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    outline:none;
}
.cartBtn:hover {
    background: url(../../image/buttons/add_shopping_cart_red.svg) no-repeat top left;
    background-size: contain;
    height: 35px;
    width: 35px;
    border: none;
}
.cartBtn:active {
    transform: translateY(2px);
}

@media (min-width: 768px){
    .productImageContainer {
        height: 280px;
        width: 280px;
        background-color: white;
    }
}

