.cartBtn {
    background: url(../../image/buttons/iconfinder_meanicons_59_197222.svg) no-repeat top left;
    background-size: contain;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
}
.productCont {
    width: 25%;
    display: flex;
}

.productCard {
    width: 200px;
}


.productImg {
    width: 100%;
    height: 100%;
}

.productInfo {
    margin: 0 auto;
}