@import '../../style/variables/variables.scss';


hr {
   background-color: rgba(255, 0, 0, 0.524);
   width: 95%;
}
.forum-grid {
    display: grid;
    grid-template-columns: 100px 130px 130px;
    width: 340px;
    grid-auto-rows: minmax(20px, auto);
    grid-column-gap:5px;
    border-radius: 5px;
    justify-content: center;
    margin: 25px auto 0;
}
.userInfo {
    grid-column: 1;
    grid-row: 1/6;
    padding: 10px;
    color: $black;
    font-family: $title;
    font-size: .95rem;


}

.blogTitle {
    grid-column: 2 / 4;
    grid-row: 1;
    padding: 10px;
    font-size: larger;
    display: flex;
    justify-content: space-between;

}

.userName {
    color: $red;
    font-family: $text;
    font-weight: 700;
    letter-spacing: 1px;
}

.blog {
    grid-column: 2 / 4;
    grid-row:2/3;
    padding: 5px;
    height: 40px;
    color: $black;
    font-family: $text;
}
.replySect {
    height: 5px;
}

.comments {
    grid-column: 2/4;
}

.commentsC{
    grid-column: 2/4;
    grid-row:5/6;
    padding: 5px;

}

.commentCont {
   padding: 5px 0;
  
}

.commentsSec {
    font-family: $text;
}

.date {
    font-size: .75rem;
    color: $black;
    font-family: $time;
    padding-top: 5px;
}

.meta {
    display: flex;
    justify-content: space-between;
}

.commentDate {
    font-size: .75rem;
    padding-bottom: 10px;
    color: white;
    font-family: $time;
}

.commentUserName {
    color: $red;
    font-family: $text;
    font-size: .95rem;
}
///Buttons

.deleteBtn {
    background: url(../../image/buttons/iconfinder_v-30_3162615.svg) no-repeat top left;
    background-size: contain;
    height: 15px;
    width: 15px;
    border: none;
    cursor: pointer;
    outline:none;
    margin-right: 10px;
}



.editBtn {
    background: url(../../image/buttons/iconfinder_edit_2561427.svg) no-repeat top left;
    background-size: contain;
    height: 15px;
    width: 15px;
    border: none;
    cursor: pointer;
    outline:none;
    margin-top: 12px;
}

.dltBlogBtn {
    vertical-align: top;
    margin-top: 12px;

}

.replyBtn {
    background: url(../../image/buttons/iconfinder_Pinterest_UI-13_2540585.svg) no-repeat top left ;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    outline:none;
}

.menuBtn {
    background: url(../../image/buttons/iconfinder_User_Interface-26_2044262.svg) no-repeat top left ;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    outline:none;
}

.profilePic {
    width: 60px;
    height: 60px;
    background-color: gray;
    margin: 0 auto;
    border-radius: 15%;
    font-size: .55rem;
    text-align: center;
}

.userData {
   text-align: center;
   line-height: 1.5em;
}

.profilePic > img {
    width: 60px;
    height: 60px;
    border-radius: 15%;
}

.blogTitle > h2 {
    font-weight: 900;
    font-size: 1.5rem;
    color: $red;
}

.clock {
    width: 10px;
    height: 10px;
}

@media (min-width: 769px) {

    .forum-grid {
        display: grid;
        grid-template-columns: 150px 230px 230px;
        width: 630px;
        grid-auto-rows: minmax(20px, auto);
        background-color: rgba(253, 252, 252, 0.211);
        border-radius: 8px;
        justify-content: center;
        margin: 25px auto 0;
    }
    
}