@import '../../style/variables/variables.scss';
//MEDIA READY

.merch {
    margin: 30px;
    padding-bottom: 50px;
    height: 100%;
    
}

.productContainer {
    display: grid;
    grid-template-columns: 240px;
    justify-content: center;
    // margin: 60px auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;  
    
}

.individualProducts {
    border: .1px solid;
    border-radius: 5px;
    box-shadow: 0 4px 10px 3px rgba(51, 51, 51, 0.5);
  
}


@media (min-width: 768px) {

.productContainer {
    display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-gap: 30px;
        width: 90%;
        margin: 50px auto 0;
        justify-content: center;
        

}

}

@media (min-width: 1044px) {
    .productContainer{
    grid-template-columns: repeat(3, 200px);
    }

    .merch {
        height: 85vh;
        padding-bottom: 0;
    }
}