@import '../../style/variables/variables.scss';
//MEDIA READY
.productContainer {
    display: grid;
    grid-template-columns: 240px;
    justify-content: center;
    margin: 60px auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
    
}

.productsss {
    border: .1px solid;
    background-color: white;
  
}


@media (min-width: 768px) {

.productContainer {
    display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-gap: 40px;
        padding: 20px;
        width: 90%;
        margin: 50px auto 0;
        justify-content: center;
        

}

}

@media (min-width: 1044px) {
    .productContainer{
    grid-template-columns: repeat(3, 280px);
    margin: 80px auto 40px;
    }
}