$containerBg: rgb(97, 96, 96);
//Normal text
$text: 'Encode Sans', sans-serif;
//Main titles
$title: 'Cantata One', serif;
//time
$time: 'Arbutus Slab', serif;


//Font-colors
$black: black;

$red: #E30D25;

//bg

$bg: linear-gradient((rgb(214, 218, 232)), (rgba(178, 174, 197, 0.823)));