@import '../../style/variables/variables.scss';
//Media Ready

.composeBlog {
    width: 100%;
    background-color: rgb(61, 61, 61);
    border-radius: 2px;  
    padding: 10px;
    position: fixed;
    bottom: 0;
    justify-content: center;
    z-index: 3;
}



.postInput {
    width: 90%;
    height: 25px;
}

.blogPost {
    height: 50px;
    width: 90%;

}

.submitBtn {
    width: 80px;
}

input {
    margin-bottom: 10px;
}

.cancelCont {
    height: 20px;  
    display: flex;
    justify-content: space-between;
    width:90%
}
.cancelBtn {
    background: url(../../image/buttons/iconfinder_Close_1031533.svg) no-repeat top left ;
    background-size: contain;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
    outline:none;
}


.composeBlogBtn:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color: $red;
}
.composeBlogBtn:active {
	position:relative;
	top:1px;
}

@media (min-width: 768px){
    .composeBlog {
        position: static;
        width: 60%;
        margin: 25px auto;
        border-radius: 5px;
    }
        
}



        