.composeComment {
    width: 90%;
    background-color: rgba(29, 25, 25, 0.137);
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    
}


.commentInput {
    width: 90%;
    height: 25px;
}

