.composeComment {
    // width: 90%;
    background-color: rgba(85, 80, 80, 0.218);
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    
}


.commentInput {
    width: 90%;
    height: 25px;
    border-radius: 5px;
}

